.header {
  display: grid;
  grid-template-columns: 800px auto; 
  margin-top: 25px;
  margin-left: 150px;
  grid-column-gap: 20px;
}

.first {
  grid-column: 1;
}

.second {
  grid-column: 2;
}

.searchResults {
  margin: 40px 480px 40px 150px;
}

.each{
  padding: 20px 0px 20px 0px;
}