.header {
  display: grid;
  grid-template-columns: auto auto; 
  margin-top: 145px;
  margin-left: 180px;
}

.first {
  grid-column: 1;
}

.second {
  grid-column: 2;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 480px 40px 180px;
}

.each{
  padding: 20px 0px 20px 0px;
}