@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.UserHeader {
  width: 100%;
  height: 10%;
  top: 37%;
  display: flex;
  justify-content: center;
  padding-left: 2%;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: 550;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  color: #ffffff;
}

.SignUpHeader{
  top: 25% !important;
}

.navContainer{
  margin-left: 250px;
}

.navText{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  /* padding: 35px; */
  margin-left: 50px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.1em;
}

.navText:hover {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #ffffff;
}

.loginPrompt {
  width: 100%;
  height: 10%;
  top: 25% !important ;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: 550;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
}

.loginFooter {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.1em;
}

#toSignUp:hover{
  color: rgba(30, 72, 211, 0.733);
  text-decoration-line: none;
}

.footer2 {
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 34%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.1em;
}

#toLogin:hover {
  color: rgba(30, 72, 211, 0.733);
  text-decoration-line: none;
}