@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.Button {
  width: 26%;
  height: 10%;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 80px;

  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  /* line-height: 1.3em;  */
  letter-spacing: 0.1em;
  color: #fa692a;

  position: absolute;
  border: none;
  /* padding: 35px 180px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
}



.SubmitButton {
  width: 10%;
  height: 7%;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 80px;

  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 400;
  /* font-style: italic; */
  /* line-height: 1.3em;  */
  letter-spacing: 0.1em;
  color: #fa692a;

  position: absolute;
  border: none;
  /* padding: 35px 180px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: "/src/components/check_circle-24px.svg";
  /* font-size: 16px; */
}

.SubmitButton:hover {
  opacity: 0.9;
}



.InputButton {
  width: 26%;
  height: 10%;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 80px;

  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  /* line-height: 1.3em;  */
  letter-spacing: 0.1em;
  color: #fa692a;

  position: absolute;
  border: none;
  /* padding: 35px 180px; */
  display: inline-block;
  /* font-size: 16px; */
}

.Button:hover {
  opacity: 0.9;
}
