@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.field {
  width: 420px;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  color: #fa692a;
  opacity: 0.7;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
}
