.dropdown {
  position: relative;
  display: inline-block;
  background-color: #ffaf6d;
  border-radius: 30px;
  min-width: 340px;
  padding: 20px;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffaf6d;
  min-width: 340px;
}

.dropdown-menu a {
  color: white;
  display: block;
  padding: 20px;
}

.dropdown-menu a:hover {
  background-color: rgba(243, 188, 142, 0.377);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
