@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


.logo {
    padding: 25px;
    top: 40%;
    font-family: "Quicksand", sans-serif;
    font-size: 64px;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

a > div {
    padding: 10px;
}

.container:hover{
    color: #FFFFFF;
    text-decoration: none;
}